In [3]:
import pandas as pd

# Load the DataFrame from a CSV file
housing_data = pd.read_csv('Housing.csv')

df = pd.DataFrame(housing_data)

# Display the first and last five rows of the DataFrame
print("First five rows:")
print(df.head())
print("\nLast five rows:")
print(df.tail())

# Set a specific column as the index of the DataFrame
df.set_index('price', inplace=True)

# Select a specific column and display its values
area_values = df['area']
print("\nArea values:")
print(area_values)

# Select multiple columns and display the resulting DataFrame
selected_columns = df[['area', 'bedrooms', 'bathrooms']]
print("\nSelected columns:")
print(selected_columns)

# Select a subset of rows using the .loc method
subset_loc = df.loc[12250000]
print("\nSubset using .loc:")
print(subset_loc)

# Select a subset of rows and columns using the .iloc method
subset_iloc = df.iloc[2:5, 0:3]
print("\nSubset using .iloc:")
print(subset_iloc)

# Filter rows based on a condition
filtered_rows = df[df['bedrooms'] == 4]
print("\nFiltered rows where bedrooms == 4:")
print(filtered_rows)

# Group the DataFrame by a specific column and calculate the mean of each group
grouped_mean = df.groupby('stories').mean(numeric_only=True)
print("\nGrouped by stories and mean calculated:")
print(grouped_mean)

# Group the DataFrame by multiple columns and calculate the sum of each group
grouped_sum = df.groupby(['stories', 'furnishingstatus']).sum(numeric_only=True)
print("\nGrouped by stories and furnishingstatus and sum calculated:")
print(grouped_sum)

# Use the agg method to apply multiple aggregation functions to grouped data
grouped_agg = df.groupby('stories').agg({'area': ['mean', 'sum'], 'bedrooms': 'count'})
print("\nAggregated grouped data:")
print(grouped_agg)

# Calculate the size of each group
group_size = df.groupby('stories').size()
print("\nSize of each group:")
print(group_size)

# Select rows based on multiple conditions
multiple_conditions = df[(df['bedrooms'] == 4) & (df['bathrooms'] == 2)]
print("\nRows based on multiple conditions (bedrooms == 4 and bathrooms == 2):")
print(multiple_conditions)

# Use the query method to filter rows
query_filtered = df.query('bedrooms == 4 and bathrooms == 2')
print("\nQuery method filtered rows:")
print(query_filtered)

# Use isin to filter rows based on a list of values
isin_filtered = df[df['furnishingstatus'].isin(['furnished', 'unfurnished'])]
print("\nRows where furnishingstatus is in ['furnished', 'unfurnished']:")
print(isin_filtered)

# Select specific columns and rename them
renamed_columns = df[['area', 'bedrooms', 'bathrooms']].rename(columns={'area': 'Area', 'bedrooms': 'Bedrooms', 'bathrooms': 'Bathrooms'})
print("\nRenamed columns:")
print(renamed_columns)

First five rows:
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

Last five rows:
       price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
540  1820000  3000         2          1        1      yes        no      yes
541  1767150  2400         3          1        1       no        no       no
542  1750000  3620         2          1        1      yes        no       no
543  1750000  2910         3          1        1       no        no       no
544  1750000  3850         3          1        2      yes        no       no

    hotwaterheating airconditioning  parking prefarea furnishingstatus
540              no              no        2       no      unfurnished
541              no              no        0       no   semi-furnished
542              no              no        0       no      unfurnished
543              no              no        0       no        furnished
544              no              no        0       no      unfurnished

Area values:
price
13300000    7420
12250000    8960
12250000    9960
12215000    7500
11410000    7420
            ...
1820000     3000
1767150     2400
1750000     3620
1750000     2910
1750000     3850
Name: area, Length: 545, dtype: int64

Selected columns:
          area  bedrooms  bathrooms
price
13300000  7420         4          2
12250000  8960         4          4
12250000  9960         3          2
12215000  7500         4          2
11410000  7420         4          1
...        ...       ...        ...
1820000   3000         2          1
1767150   2400         3          1
1750000   3620         2          1
1750000   2910         3          1
1750000   3850         3          1

[545 rows x 3 columns]

Subset using .loc:
          area  bedrooms  bathrooms  stories mainroad guestroom basement  \
price
12250000  8960         4          4        4      yes        no       no
12250000  9960         3          2        2      yes        no      yes

         hotwaterheating airconditioning  parking prefarea furnishingstatus
price
12250000              no             yes        3       no        furnished
12250000              no              no        2      yes   semi-furnished

Subset using .iloc:
          area  bedrooms  bathrooms
price
12250000  9960         3          2
12215000  7500         4          2
11410000  7420         4          1

Filtered rows where bedrooms == 4:
          area  bedrooms  bathrooms  stories mainroad guestroom basement  \
price
13300000  7420         4          2        3      yes        no       no
12250000  8960         4          4        4      yes        no       no
12215000  7500         4          2        2      yes        no      yes
11410000  7420         4          1        2      yes       yes      yes
10150000  8580         4          3        4      yes        no       no
...        ...       ...        ...      ...      ...       ...      ...
2940000   3660         4          1        2       no        no       no
2870000   5400         4          1        2      yes        no       no
2852500   5200         4          1        3      yes        no       no
2380000   2787         4          2        2      yes        no       no
2100000   3000         4          1        2      yes        no       no

         hotwaterheating airconditioning  parking prefarea furnishingstatus
price
13300000              no             yes        2      yes        furnished
12250000              no             yes        3       no        furnished
12215000              no             yes        3      yes        furnished
11410000              no             yes        2       no        furnished
10150000              no             yes        2      yes   semi-furnished
...                  ...             ...      ...      ...              ...
2940000               no              no        0       no      unfurnished
2870000               no              no        0       no      unfurnished
2852500               no              no        0       no      unfurnished
2380000               no              no        0       no        furnished
2100000               no              no        0       no      unfurnished

[95 rows x 12 columns]

Grouped by stories and mean calculated:
                area  bedrooms  bathrooms   parking
stories
1        5289.823789  2.519824   1.136564  0.709251
2        4756.945378  3.281513   1.331933  0.651261
3        5316.641026  3.230769   1.358974  0.461538
4        6506.170732  3.341463   1.780488  1.073171

Grouped by stories and furnishingstatus and sum calculated:
                            area  bedrooms  bathrooms  parking
stories furnishingstatus
1       furnished         310015       136         60       49
        semi-furnished    486908       220        101       70
        unfurnished       403867       216         97       42
2       furnished         305836       199         80       50
        semi-furnished    534589       372        156       76
        unfurnished       291728       210         81       29
3       furnished          71928        41         22        7
        semi-furnished     68254        45         16        7
        unfurnished        67167        40         15        4
4       furnished         108555        53         31       18
        semi-furnished     83008        46         23       14
        unfurnished        75190        38         19       12

Aggregated grouped data:
                area          bedrooms
                mean      sum    count
stories
1        5289.823789  1200790      227
2        4756.945378  1132153      238
3        5316.641026   207349       39
4        6506.170732   266753       41

Size of each group:
stories
1    227
2    238
3     39
4     41
dtype: int64

Rows based on multiple conditions (bedrooms == 4 and bathrooms == 2):
           area  bedrooms  bathrooms  stories mainroad guestroom basement  \
price
13300000   7420         4          2        3      yes        no       no
12215000   7500         4          2        2      yes        no      yes
9310000    6550         4          2        2      yes        no       no
9240000    3500         4          2        2      yes        no       no
9100000    6600         4          2        2      yes       yes      yes
8540000    6540         4          2        2      yes       yes      yes
8400000    5500         4          2        2      yes        no      yes
8295000    4880         4          2        2      yes        no       no
7980000    9000         4          2        4      yes        no       no
7910000    6000         4          2        4      yes        no       no
7700000    6000         4          2        4      yes        no       no
7560000    6000         4          2        4      yes        no       no
7350000    6000         4          2        4      yes       yes       no
7245000    9000         4          2        4      yes       yes       no
7210000    7680         4          2        4      yes       yes       no
7070000    6240         4          2        2      yes        no       no
7035000    6360         4          2        3      yes        no       no
6790000   12090         4          2        2      yes        no       no
6755000    6000         4          2        4      yes        no       no
6650000    4260         4          2        2      yes        no       no
6300000    6000         4          2        4      yes        no       no
6160000    5450         4          2        1      yes        no      yes
6090000    6615         4          2        2      yes       yes       no
5950000    6254         4          2        1      yes        no      yes
5950000    7320         4          2        2      yes        no       no
5740000    5400         4          2        2      yes        no       no
5652500    6660         4          2        2      yes       yes      yes
5600000   10500         4          2        2      yes        no       no
5600000    6600         4          2        1      yes        no      yes
5495000    2817         4          2        2       no       yes      yes
5460000    6600         4          2        2      yes       yes      yes
5250000    6540         4          2        2       no        no       no
5250000    5300         4          2        1      yes        no       no
5250000    9800         4          2        2      yes       yes       no
5215000    4500         4          2        1       no        no      yes
4893000    3420         4          2        2      yes        no      yes
4893000    4995         4          2        1      yes        no      yes
4767000    3420         4          2        2      yes        no       no
4690000    9667         4          2        2      yes       yes      yes
4613000    4510         4          2        2      yes        no      yes
4543000    4990         4          2        2      yes       yes      yes
4200000    2747         4          2        2       no        no       no
4200000    4000         4          2        2       no        no       no
4060000    5900         4          2        2       no        no      yes
3920000    2145         4          2        1      yes        no      yes
3885000    3180         4          2        2      yes        no       no
3570000    4500         4          2        2      yes        no      yes
2380000    2787         4          2        2      yes        no       no

         hotwaterheating airconditioning  parking prefarea furnishingstatus
price
13300000              no             yes        2      yes        furnished
12215000              no             yes        3      yes        furnished
9310000               no             yes        1      yes   semi-furnished
9240000              yes              no        2       no        furnished
9100000               no             yes        1      yes      unfurnished
8540000               no             yes        2      yes        furnished
8400000               no             yes        1      yes   semi-furnished
8295000               no             yes        1      yes        furnished
7980000               no             yes        2       no        furnished
7910000               no             yes        1       no   semi-furnished
7700000               no              no        2       no   semi-furnished
7560000               no             yes        1       no        furnished
7350000               no             yes        1       no        furnished
7245000               no             yes        1      yes        furnished
7210000               no             yes        1       no   semi-furnished
7070000               no             yes        1       no        furnished
7035000               no             yes        2      yes        furnished
6790000               no              no        2      yes        furnished
6755000               no             yes        0       no      unfurnished
6650000              yes              no        0       no   semi-furnished
6300000               no              no        1       no   semi-furnished
6160000               no             yes        0      yes   semi-furnished
6090000              yes              no        1       no   semi-furnished
5950000               no              no        1      yes   semi-furnished
5950000               no              no        0       no        furnished
5740000               no             yes        2       no      unfurnished
5652500               no              no        1      yes   semi-furnished
5600000               no              no        1       no   semi-furnished
5600000               no              no        0      yes   semi-furnished
5495000               no              no        1       no        furnished
5460000               no              no        0      yes   semi-furnished
5250000               no             yes        0       no   semi-furnished
5250000               no             yes        0      yes      unfurnished
5250000               no              no        2       no   semi-furnished
5215000               no             yes        2       no   semi-furnished
4893000               no             yes        2       no   semi-furnished
4893000               no              no        0       no   semi-furnished
4767000               no              no        0       no   semi-furnished
4690000               no              no        1       no   semi-furnished
4613000               no              no        0       no   semi-furnished
4543000               no              no        0      yes        furnished
4200000               no              no        0       no   semi-furnished
4200000               no              no        0       no   semi-furnished
4060000               no              no        1       no      unfurnished
3920000               no              no        0      yes      unfurnished
3885000               no              no        0       no        furnished
3570000               no              no        2       no        furnished
2380000               no              no        0       no        furnished

Query method filtered rows:
           area  bedrooms  bathrooms  stories mainroad guestroom basement  \
price
13300000   7420         4          2        3      yes        no       no
12215000   7500         4          2        2      yes        no      yes
9310000    6550         4          2        2      yes        no       no
9240000    3500         4          2        2      yes        no       no
9100000    6600         4          2        2      yes       yes      yes
8540000    6540         4          2        2      yes       yes      yes
8400000    5500         4          2        2      yes        no      yes
8295000    4880         4          2        2      yes        no       no
7980000    9000         4          2        4      yes        no       no
7910000    6000         4          2        4      yes        no       no
7700000    6000         4          2        4      yes        no       no
7560000    6000         4          2        4      yes        no       no
7350000    6000         4          2        4      yes       yes       no
7245000    9000         4          2        4      yes       yes       no
7210000    7680         4          2        4      yes       yes       no
7070000    6240         4          2        2      yes        no       no
7035000    6360         4          2        3      yes        no       no
6790000   12090         4          2        2      yes        no       no
6755000    6000         4          2        4      yes        no       no
6650000    4260         4          2        2      yes        no       no
6300000    6000         4          2        4      yes        no       no
6160000    5450         4          2        1      yes        no      yes
6090000    6615         4          2        2      yes       yes       no
5950000    6254         4          2        1      yes        no      yes
5950000    7320         4          2        2      yes        no       no
5740000    5400         4          2        2      yes        no       no
5652500    6660         4          2        2      yes       yes      yes
5600000   10500         4          2        2      yes        no       no
5600000    6600         4          2        1      yes        no      yes
5495000    2817         4          2        2       no       yes      yes
5460000    6600         4          2        2      yes       yes      yes
5250000    6540         4          2        2       no        no       no
5250000    5300         4          2        1      yes        no       no
5250000    9800         4          2        2      yes       yes       no
5215000    4500         4          2        1       no        no      yes
4893000    3420         4          2        2      yes        no      yes
4893000    4995         4          2        1      yes        no      yes
4767000    3420         4          2        2      yes        no       no
4690000    9667         4          2        2      yes       yes      yes
4613000    4510         4          2        2      yes        no      yes
4543000    4990         4          2        2      yes       yes      yes
4200000    2747         4          2        2       no        no       no
4200000    4000         4          2        2       no        no       no
4060000    5900         4          2        2       no        no      yes
3920000    2145         4          2        1      yes        no      yes
3885000    3180         4          2        2      yes        no       no
3570000    4500         4          2        2      yes        no      yes
2380000    2787         4          2        2      yes        no       no

         hotwaterheating airconditioning  parking prefarea furnishingstatus
price
13300000              no             yes        2      yes        furnished
12215000              no             yes        3      yes        furnished
9310000               no             yes        1      yes   semi-furnished
9240000              yes              no        2       no        furnished
9100000               no             yes        1      yes      unfurnished
8540000               no             yes        2      yes        furnished
8400000               no             yes        1      yes   semi-furnished
8295000               no             yes        1      yes        furnished
7980000               no             yes        2       no        furnished
7910000               no             yes        1       no   semi-furnished
7700000               no              no        2       no   semi-furnished
7560000               no             yes        1       no        furnished
7350000               no             yes        1       no        furnished
7245000               no             yes        1      yes        furnished
7210000               no             yes        1       no   semi-furnished
7070000               no             yes        1       no        furnished
7035000               no             yes        2      yes        furnished
6790000               no              no        2      yes        furnished
6755000               no             yes        0       no      unfurnished
6650000              yes              no        0       no   semi-furnished
6300000               no              no        1       no   semi-furnished
6160000               no             yes        0      yes   semi-furnished
6090000              yes              no        1       no   semi-furnished
5950000               no              no        1      yes   semi-furnished
5950000               no              no        0       no        furnished
5740000               no             yes        2       no      unfurnished
5652500               no              no        1      yes   semi-furnished
5600000               no              no        1       no   semi-furnished
5600000               no              no        0      yes   semi-furnished