In [1]:
import pandas as pd

# Sales DataFrame
sales_df = pd.DataFrame({
    'OrderID': [1, 2, 3, 4, 5],
    'CustomerID': [101, 102, 103, 104, 105],
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Quantity': [10, 5, 8, 3, 7],
    'Price': [100, 200, 150, 300, 250]
})

# Customer DataFrame
customer_df = pd.DataFrame({
    'CustomerID': [101, 102, 103, 106],
    'CustomerName': ['John Doe', 'Jane Smith', 'Emily Jones', 'Michael Brown'],
    'Location': ['New York', 'California', 'Texas', 'Nevada']
})

# Additional Sales DataFrame
additional_sales_df = pd.DataFrame({
    'OrderID': [6, 7, 8],
    'CustomerID': [104, 105, 101],
    'Product': ['F', 'G', 'H'],
    'Quantity': [2, 4, 6],
    'Price': [400, 500, 600]
})

# Merge Two DataFrames on a Single Key

In [2]:
# Merge on CustomerID
merged_single_key_df = pd.merge(sales_df, customer_df, on='CustomerID', how='inner')
print(merged_single_key_df)

   OrderID  CustomerID Product  Quantity  Price CustomerName    Location
0        1         101       A        10    100     John Doe    New York
1        2         102       B         5    200   Jane Smith  California
2        3         103       C         8    150  Emily Jones       Texas

# Merge Two DataFrames on Multiple Keys

In [3]:
# Assume we have another DataFrame with multiple keys
multi_key_df = pd.DataFrame({
    'CustomerID': [101, 102, 103, 104, 105],
    'Product': ['A', 'B', 'C', 'D', 'E'],
    'Discount': [5, 10, 15, 20, 25]
})

# Merge on CustomerID and Product
merged_multi_key_df = pd.merge(sales_df, multi_key_df, on=['CustomerID', 'Product'], how='inner')
print(merged_multi_key_df)

   OrderID  CustomerID Product  Quantity  Price  Discount
0        1         101       A        10    100         5
1        2         102       B         5    200        10
2        3         103       C         8    150        15
3        4         104       D         3    300        20
4        5         105       E         7    250        25

# Perform Different Types of Joins

In [4]:
# Outer join
outer_join_df = pd.merge(sales_df, customer_df, on='CustomerID', how='outer')
print(outer_join_df)

# Inner join
inner_join_df = pd.merge(sales_df, customer_df, on='CustomerID', how='inner')
print(inner_join_df)

# Left join
left_join_df = pd.merge(sales_df, customer_df, on='CustomerID', how='left')
print(left_join_df)

# Right join
right_join_df = pd.merge(sales_df, customer_df, on='CustomerID', how='right')
print(right_join_df)

   OrderID  CustomerID Product  Quantity  Price   CustomerName    Location
0      1.0         101       A      10.0  100.0       John Doe    New York
1      2.0         102       B       5.0  200.0     Jane Smith  California
2      3.0         103       C       8.0  150.0    Emily Jones       Texas
3      4.0         104       D       3.0  300.0            NaN         NaN
4      5.0         105       E       7.0  250.0            NaN         NaN
5      NaN         106     NaN       NaN    NaN  Michael Brown      Nevada
   OrderID  CustomerID Product  Quantity  Price CustomerName    Location
0        1         101       A        10    100     John Doe    New York
1        2         102       B         5    200   Jane Smith  California
2        3         103       C         8    150  Emily Jones       Texas
   OrderID  CustomerID Product  Quantity  Price CustomerName    Location
0        1         101       A        10    100     John Doe    New York
1        2         102       B         5    200   Jane Smith  California
2        3         103       C         8    150  Emily Jones       Texas
3        4         104       D         3    300          NaN         NaN
4        5         105       E         7    250          NaN         NaN
   OrderID  CustomerID Product  Quantity  Price   CustomerName    Location
0      1.0         101       A      10.0  100.0       John Doe    New York
1      2.0         102       B       5.0  200.0     Jane Smith  California
2      3.0         103       C       8.0  150.0    Emily Jones       Texas
3      NaN         106     NaN       NaN    NaN  Michael Brown      Nevada

# Concatenate DataFrames

In [5]:
# Concatenate along rows
concat_rows_df = pd.concat([sales_df, additional_sales_df], axis=0)
print(concat_rows_df)

# Concatenate along columns
concat_columns_df = pd.concat([sales_df, customer_df], axis=1)
print(concat_columns_df)

# Concatenate a list of DataFrames
list_of_dfs = [sales_df, additional_sales_df]
concat_list_df = pd.concat(list_of_dfs, ignore_index=True)
print(concat_list_df)

   OrderID  CustomerID Product  Quantity  Price
0        1         101       A        10    100
1        2         102       B         5    200
2        3         103       C         8    150
3        4         104       D         3    300
4        5         105       E         7    250
0        6         104       F         2    400
1        7         105       G         4    500
2        8         101       H         6    600
   OrderID  CustomerID Product  Quantity  Price  CustomerID   CustomerName  \
0        1         101       A        10    100       101.0       John Doe
1        2         102       B         5    200       102.0     Jane Smith
2        3         103       C         8    150       103.0    Emily Jones
3        4         104       D         3    300       106.0  Michael Brown
4        5         105       E         7    250         NaN            NaN

     Location
0    New York
1  California
2       Texas
3      Nevada
4         NaN
   OrderID  CustomerID Product  Quantity  Price
0        1         101       A        10    100
1        2         102       B         5    200
2        3         103       C         8    150
3        4         104       D         3    300
4        5         105       E         7    250
5        6         104       F         2    400
6        7         105       G         4    500
7        8         101       H         6    600

# Reshape Data Using Melt

In [6]:
# Melt sales_df from wide to long format
melted_df = pd.melt(sales_df, id_vars=['OrderID', 'CustomerID'], value_vars=['Product', 'Quantity', 'Price'])
print(melted_df)

    OrderID  CustomerID  variable value
0         1         101   Product     A
1         2         102   Product     B
2         3         103   Product     C
3         4         104   Product     D
4         5         105   Product     E
5         1         101  Quantity    10
6         2         102  Quantity     5
7         3         103  Quantity     8
8         4         104  Quantity     3
9         5         105  Quantity     7
10        1         101     Price   100
11        2         102     Price   200
12        3         103     Price   150
13        4         104     Price   300
14        5         105     Price   250

# Create a Pivot Table

In [7]:
# Pivot table to summarize data
pivot_table_df = pd.pivot_table(sales_df, values='Quantity', index='Product', columns='CustomerID', aggfunc='sum')
print(pivot_table_df)

CustomerID   101  102  103  104  105
Product
A           10.0  NaN  NaN  NaN  NaN
B            NaN  5.0  NaN  NaN  NaN
C            NaN  NaN  8.0  NaN  NaN
D            NaN  NaN  NaN  3.0  NaN
E            NaN  NaN  NaN  NaN  7.0

# Group Data and Perform Aggregations

In [8]:
# Group by Product and calculate sum of Quantity
grouped_sum_df = sales_df.groupby('Product')['Quantity'].sum().reset_index()
print(grouped_sum_df)

# Group by Product and apply multiple aggregations
grouped_agg_df = sales_df.groupby('Product').agg({'Quantity': ['sum', 'mean'], 'Price': 'mean'}).reset_index()
print(grouped_agg_df)

  Product  Quantity
0       A        10
1       B         5
2       C         8
3       D         3
4       E         7
  Product Quantity        Price
               sum  mean   mean
0       A       10  10.0  100.0
1       B        5   5.0  200.0
2       C        8   8.0  150.0
3       D        3   3.0  300.0
4       E        7   7.0  250.0

# Use Groupby and Apply Custom Functions

In [9]:
# Group by CustomerID and apply a custom function
def custom_agg(group):
    return pd.Series({
        'TotalQuantity': group['Quantity'].sum(),
        'TotalPrice': group['Price'].sum()
    })

custom_grouped_df = sales_df.groupby('CustomerID').apply(custom_agg).reset_index()
print(custom_grouped_df)

   CustomerID  TotalQuantity  TotalPrice
0         101             10         100
1         102              5         200
2         103              8         150
3         104              3         300
4         105              7         250